<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator-osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1428F04F1C5F4C2C00998F30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1428F0651C5F4C2C00998F30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1428F0701C5F4C2C00998F30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
